@import '../globals';

.booklist{
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .booklist-item{
    padding: 10px 15px;
    text-align: left;
  }
}
